.s58{
    margin-top: 130px;
    height: px;
}
.sp100{
    display: inline-flex !important;
    margin-top: 30px !important;
}
.lb2{
    display: inline-flex;
    gap: 8px;
}
.pb23{
    font-size: 20px;
}
.pb27{
    font-size: 20px;
    color: green;
}
.pb29{
    font-size: 20px;
}
.bt99{
    margin-top: 30px;
}
.rt{
    margin-top: 30px !important;
}